includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/grifart/phpstan-oneline/config.neon

parameters:
	ignoreErrors:

# 		for phpstan 0.11
#		-
#			message: '#Strict comparison using === between int\\|string and null will always evaluate to false#'
#			path: src/Internal/Meta.php

		- '#Strict comparison using === between int\\|string and null will always evaluate to false#'